* {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
}

body {
  font-size: 18px;
  background-color: #8BCA97;
}

.contenedor {
  margin: 0 auto;
  min-height: 720px;
  width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px;
  -webkit-box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.5em, rgba(90, 125, 188, 0.05) 0px 0.5em 1em;
          box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.5em, rgba(90, 125, 188, 0.05) 0px 0.5em 1em;
  border-radius: 10px;
}

.left-side {
  width: 30%;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.left-side select {
  width: 20em;
  height: 4em;
  background-color: #ade0b7;
}

.left-side textarea {
  width: 19.5em;
  height: 19.5em;
  resize: none;
  background-color: #ade0b7;
}

.left-side input {
  width: 19.5em;
  height: 4em;
  background-color: #ade0b7;
  outline: none;
  border: none;
}

.left-side button {
  font-weight: 600;
  width: 20em;
  height: 4em;
  background-color: #579363;
  outline: none;
  border: none;
  -webkit-box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.5em, rgba(90, 125, 188, 0.05) 0px 0.5em 1em;
          box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.5em, rgba(90, 125, 188, 0.05) 0px 0.5em 1em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.left-side button:hover {
  background-color: #71a67c;
}

.right-side {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.right-side .rigth-side-conteiner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
}

.right-side .rigth-side-conteiner .right-side_description {
  width: 100%;
  height: 100%;
  text-align: center;
}

.right-side .rigth-side-conteiner .right-side_type {
  width: 100%;
  height: 100%;
  text-align: center;
}

.right-side .rigth-side-conteiner .right-side_amount {
  width: 100%;
  height: 100%;
  text-align: center;
}

.right-side_summary {
  height: 6.25em;
  width: 100%;
  background-color: #f9f9f9;
}

.right-side_summary-p {
  padding-left: 35em;
}
/*# sourceMappingURL=style.css.map */